.EditForm {
    width: 100%;
}

.EditForm input, .EditForm textarea, .EditForm select {
    display: block;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px 0 15px 0;
}