.Toolbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

.Toolbar nav {
    height: 100%;
}

.Toolbar-logo {
    height: 80%;
}