.Layout-Content {
    margin-top: 120px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #009999;
    z-index: 90;
}